<div class="homePage">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img class="centerDiv" src="images/votingicon.png">
            <h1 class="appHeading">PETITIONS</h1>
        </div>
    </div>
    <div class="row">
        <div ng-hide="loggedIn" class="col-xs-6 col-sm-6 col-md-6 col-lg-6  authenticationButtons">
            <a href="#!/signup"><button class="btn btn-lg btn-primary pull-right">Sign Up</button></a>
        </div>
        <div ng-hide="loggedIn" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 authenticationButtons">
            <a href="#!/login"><button class="btn btn-lg btn-primary">Sign In</button></a>
        </div>
        <div ng-show="loggedIn" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 authenticationButtons">
            <a href="#!/petition/create"><button class="btn btn-lg btn-primary pull-right">Create <br> Petition</button></a>
        </div>
        <div ng-show="loggedIn" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 authenticationButtons">
            <a href="#!/petition/{{firebaseUser.uid}}/list"><button class="btn btn-lg btn-primary">My <br> Petition</button></a>
        </div>
    </div>
    <img ng-show="isPetitionsListLoaded" class="petitionListloadingIcon" src="../../images/loading_icon.gif">
    <div ng-hide="isPetitionsListLoaded || petitionsList.length == 0" class="row petitionLists">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="#!/petition/listAll"><h2 class="text-center"><u><b>RECENT PETITIONS</b></u></h2></a>
            <ul style="list-style-type: none" ng-repeat="petition in petitionsList | orderBy: '-createdAt' ">
                <li>
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <a href="#!/petition/{{petition.key}}/vote"><h3><b class="listPetitionHeading">{{petition.name}}</b></h3></a>
                            <p class="petitionCreatedBy">Created By: {{petition.createdBy}}</p>
                            <p><i>{{petition.description}}</i></p>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                         <span class="pull-right">
                             <h3><b>{{petition.createdAt | date : 'mediumDate'}}</b></h3>
                             <p><i>{{petition.createdAt | date : 'shortTime'}}</i></p>
                         </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>