// less variables start
@navbarColor : rgba(134,134,134,0.6);
@navbarFontFamily: monospace;
@navLinkFontColor: white;
@customVotingResultAnimationBackground: #e6e6e6;
@smartphones: ~"only screen and (max-width: 479px)";
@tablets: ~"only screen and (min-width: 768px) and (max-width: 959px)";

// less variables end

body {
  padding-top: 80px;
  background-color: @customVotingResultAnimationBackground;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.navbar-default .navbar-nav>li>a{
  color: @navLinkFontColor;
  &:hover {
    color: #c6c6c6;
  }
  &:active {
    color: #c6c6c6;
  }
  &.selected {
    color: #c6c6c6;
  }
}


.btn-primary{
  background-color: #989898;
  border-color: #808080;
  font-family: @navbarFontFamily;
  box-shadow: -10px 10px 6px -6px #777;
  &:hover{
    background-color: #808080;
    border-color: #808080;
    box-shadow: none;
  }
  &:active{
    background-color: #808080;
    box-shadow: none;
  }
  &:focus{
    background-color: #989898;
    box-shadow: none;
  }
  &:active:focus{
    background-color: #989898;
    box-shadow: none;
  }
}

.loadingIcon{
  height:70px;
}

/* home css starts*/

.homePage{
  margin: auto;
  margin-top: 8%;
}

.petitionListBoxCSS{
  width: 60%;
  height: auto;
  background-color: rgba(198,196,196,0.58);
  border: solid #bdbdbd 2px;
  border-radius: 20px;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 20%;
  color: rgba(0, 0, 0, 0.36);
  font-size: x-large;
  font-weight: bold;
  font-family: @navbarFontFamily;
  padding: 30px 10px 40px 10px;
  a{
    text-decoration: none;
  }
  h3{
    color: rgba(0, 0, 0, 0.53);
  }
}

.petitionLists{
  .petitionListBoxCSS;
  h2{
    padding-bottom: 20px;
  }
   li{
    padding-bottom: 15px;
     a{
       cursor: pointer;
       text-decoration: none;
       &:hover{
         color: darkgrey;
       }
     }
  }
}

.navbarCustom{
  position: absolute;
  background-color: @navbarColor;
  border-bottom: solid 2px;
  border-color: #a7a7a7;
}

.navbarToggleButtonCustom{
  margin-top: 15px;
}

.navLinksList{
  cursor: pointer;
  font-family: @navbarFontFamily;
  list-style-type: none;
  font-size: 32px;
}


.brandIcon{
  box-sizing: border-box;
  max-width: 90px;
  max-height: 60px;
  margin: 5px 0 5px 30px;
  border: solid darkgrey 1px;
  border-radius:15px;
  padding: 5px;
}

.appHeading{
  color: #989898;
  font-family: @navbarFontFamily;
  font-weight: bolder;
  font-size: 60px;
  text-align: center;
}

.centerDiv{
  display: block;
  margin: auto;
}

.box-sizing{
  box-sizing: border-box;
}

.signupIcon{
  .box-sizing;
  width: 100px;
  height: 80px;
}

.loginIcon{
  .box-sizing;
  width: 200px;
  height: 80px;
}

/* home css ends*/

/* login css starts*/

.loginForm{
  width: 30%;
  height: auto;
  background-color: #bdbdbd;
  margin: auto;
  margin-top: 8%;
  margin-bottom: 20%;
  color: white;
  font-size: x-large;
  font-weight: bold;
  font-family: @navbarFontFamily;
  padding: 60px 20px 80px 20px;
  h1{
    text-align: center;
    padding-bottom: 10px;
  }
}

.signupText{
  padding-top: 30px;
  text-align: center;
  a{
    text-decoration: none;
    cursor: pointer;
  }
}

/* login css ends*/


/*user petition list css starts*/

.petitionListloadingIcon{
  .centerDiv;
  width: 200px;
}

.listPetitionHeading{
  color: white;
  &:hover{
    color: rgba(60,68,74,0.77);
  }
  &:active{
    color: rgba(60,68,74,0.77);
  }
  &:focus{
    color: rgba(60,68,74,0.77);
  }
}

.petitionCreatedBy{
  color:rgba(6,6,6,0.26);
  font-size: 16px;
}

/* user petition list css ends*/

/* vote page css starts*/

.voteCount{
  font-size: 34px;
  font-weight: 700;
}

/* vote page css ends */

// media queries css starts

@media (max-width: 1100px) {
  .homePage{
    margin: auto;
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .loginForm{
    width: 70%;
  }

  .petitionLists{
    width: 80%;
  }

  .petitionListBoxCSS{
    width: 80%;
  }
}


@media (max-width: 770px){
  .navLinksList {
    font-size: 20px;
  }

  .petitionListBoxCSS{
    width: 80%;
    .h3, h3{
      font-size: 20px;
    }
  }
}


@media (max-width: 500px) {
  .homePage{
    margin: auto;
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .loginForm{
    width: auto;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .petitionLists{
    width: auto;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 20%;
    ul{
      padding: 0;
    }
  }

  .petitionListBoxCSS{
    width: 95%;
    .h3, h3{
      font-size: 20px;
    }
    ul{
      padding: 0;
    }
  }
}

// media queries css ends