// less variables start
@headingColor : rgba(134,134,134,0.2);
@headingFontFamily: monospace;
@navLinkFontColor: #808080;
@customVotingResultAnimationBackground: #e6e6e6;
@smartphones: ~"only screen and (max-width: 479px)";
@tablets: ~"only screen and (min-width: 768px) and (max-width: 959px)";

// less variables end

body {
  padding-top: 80px;
  background-color: @customVotingResultAnimationBackground;
}

.btn-primary{
  background-color: #989898;
  border-color: #808080;
  font-family: @headingFontFamily;
  box-shadow: -10px 10px 6px -6px #777;
  &:hover{
    background-color: #808080;
    border-color: #808080;
    box-shadow: none;
  }
  &:active{
    background-color: #808080;
    box-shadow: none;
  }
  &:focus{
    background-color: #989898;
    box-shadow: none;
  }
  &:active:focus{
    background-color: #989898;
    box-shadow: none;
  }
}

/* home css starts*/

.homePage{
  margin: auto;
  margin-top: 8%;
}

.petitionLists{
  width: 60%;
  height: auto;
  background-color: #bdbdbd;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 20%;
  color: white;
  font-size: x-large;
  font-weight: bold;
  font-family: @headingFontFamily;
  padding: 30px 10px 40px 10px;
  h2{
    padding-bottom: 20px;
  }
   li{
    padding-bottom: 15px;
     a{
       color: white;
       cursor: pointer;
       text-decoration: none;
       &:hover{
         color: darkgrey;
       }
     }
  }
}

.navbarCustom{
  position: absolute;
  background-color: @headingColor;
  border-bottom: solid 2px;
  border-color: #a7a7a7;
}

.navbarToggleButtonCustom{
  margin-top: 15px;
}

.navLinks{
  width: auto;
  vertical-align: middle;
  ul{
    font-family: @headingFontFamily;
    list-style-type: none;
    font-size: 38px;
    margin: 5px 0 0 0;
    padding: 0;
    color: @navLinkFontColor;
    li{
      display: inline;
      padding-right: 30px;
      a{
        color: @navLinkFontColor;
        text-decoration: none;
        cursor: pointer;
        &:hover{
          color: #c6c6c6;
        }
        &:active{
          color: #c6c6c6;
        }
        &.selected{
          color: #c6c6c6;
        }
      }
    }
  }
}

.brandIcon{
  box-sizing: border-box;
  max-width: 90px;
  max-height: 60px;
  margin: 5px 0 5px 30px;
  border: solid darkgrey 1px;
  border-radius:15px;
  padding: 5px;
}

.appHeading{
  color: #989898;
  font-family: @headingFontFamily;
  font-weight: bolder;
  font-size: 60px;
  text-align: center;
}

.centerDiv{
  display: block;
  margin: auto;
}

.box-sizing{
  box-sizing: border-box;
}

.signupIcon{
  .box-sizing;
  width: 100px;
  height: 80px;
}

.loginIcon{
  .box-sizing;
  width: 200px;
  height: 80px;
}

/* home css ends*/

/* login css starts*/

.loginForm{
  width: 30%;
  height: auto;
  background-color: #bdbdbd;
  margin: auto;
  margin-top: 8%;
  margin-bottom: 20%;
  color: white;
  font-size: x-large;
  font-weight: bold;
  font-family: @headingFontFamily;
  padding: 60px 50px 80px 50px;
  h1{
    text-align: center;
    padding-bottom: 10px;
  }
}

.signupText{
  padding-top: 30px;
  text-align: center;
  a{
    text-decoration: none;
    cursor: pointer;
  }
}

/* login css ends*/


// media queries css starts

@media (max-width: 1100px) {
  .homePage{
    margin: auto;
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .loginForm{
    width: 50%;
  }

  .petitionLists{
    width: 80%;
  }
}


@media (max-width: 500px) {
  .homePage{
    margin: auto;
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .loginForm{
    width: auto;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 20%;
  }


  .petitionLists{
    width: auto;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 20%;
  }
}

// media queries css ends