<div class="loginForm row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1>Login</h1>
    <form>
        <div class="form-group">
            <label for="InputUsername">Email</label>
            <input ng-model="form.email" type="email" class="form-control" id="InputUsername" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="InputPassword">Password</label>
            <input ng-model="form.password" type="password" class="form-control" id="InputPassword" placeholder="Password" required>
        </div>
        <button ng-click="login(form)" type="submit" class="btn btn-primary">Login</button>
        <br>
        <img ng-show="isLoading" class="loadingIcon" src="../../images/loading_icon.gif">
    </form>
    <p class="signupText">Don't have an account?<a href="#!/signup"> Make one!</a></p>
    </div>
</div>